.button {
    background-color: greenyellow;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: yellowgreen;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Focus indicator */
    }

    &:active {
        transform: translateY(1px);
    }
}
